[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pynacl = "*"
gitpython = "*"

[packages]
django = "*"
pygraphviz = "*"
django-extensions = "*"
canvasapi = "*"
csci-utils = {editable = true, git = "https://${ACCESS_TOKEN}:x-oauth-basic@github.com/csci-e-29/2021sp-csci-utils-CalebEverett@master"}
sphinx = "*"
pydata-sphinx-theme = "*"
sphinxcontrib-django2 = "*"
sphinx-plotly-directive = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
